:root {
  /* Palette */
  --primary-col: white;
  --primary-col-light: white;
  --secondary-col: white;
  --secondary-col-light: white;
  /* Commons */
  --col-black: #111;
  --col-white: #fff;
  --dark-gray: rgb(38, 38, 38);
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Others */
body {
  font-family: 'PT Sans', sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

svg {
  width: 100%;
  height: 100%;
}

/**********************************************************
  UTILITIES ----- UTILITIES ----- UTILITIES -----
**********************************************************/

/* LAYOUT */
.container {
  max-width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.d-block {
  display: block;
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.just-between {
  justify-content: space-between;
}

.just-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

/* TEXT */
.text-center {
  text-align: center;
}

.text-white {
  color: var(--col-white);
}

.text-gray {
  color: lightgray;
}

/* BORDERS */
.bor-pad {
  padding: 1rem;
}

.bor-circle {
  border-radius: 50%;
}

/* IMAGES */
.mini-logo-container {
  width: 15%;
  padding: 3px 0;
  margin-right: 0.5em;
}

.mini-logo-img {
  vertical-align: middle;
}

/* OTHERS */
.sidebar-menu-text {
  vertical-align: middle;
  color: white;
}


/****************************************************
  SECTIONS ----- SECTIONS ----- SECTIONS -----
****************************************************/
#app {
  flex-grow: 1;
}

/* 
  SIDEBAR
*/
#sidebar {
  width: 250px;
  overflow: hidden;
  background-color: var(--col-black);
}

#sidebar ul {
  list-style: none;
}

#logo-spotify-container {
  height: 4rem;
  padding-right: 4rem;
}

#logo-spotify-img {
  text-align: left;
}

#sidebar-menu {
  margin-top: 0.2em;
}

#sidebar-menu a {
  padding: 0.2em 0;
  text-decoration: none;
}

#sidebar-menu a:hover {
  background-color: rgba(75, 75, 75, 0.2);
}

/* 
  HEADER
*/
#upgrade-bar {
  height: 5rem;
  justify-content: end;
  align-items: center;
  background-color: rgb(26, 29, 33);
}

#upgrade-but {
  padding: 0.8em 2.5em;
  border: 2px solid white;
  border-radius: 25px;
  background-color: rgba(30, 32, 37, 0);
  text-transform: uppercase;
}

/* 
  MUSIC SECTION
*/
#music {
  overflow: auto;
  background-color: var(--dark-gray);
}


/*******************************************************
  RESPONSIVE ----- RESPONSIVE ----- RESPONSIVE -----
*******************************************************/



/*******************************************************
  DEBUG ----- DEBUG ----- DEBUG -----
*******************************************************/
div {
  border: 1px dashed red;
}

#play {
  background-color: rgb(114, 114, 114);
}

#play div {
  padding: 1rem;
}