:root {
  /* Palette */
  --primary-col: white;
  --primary-col-light: white;
  --secondary-col: white;
  --secondary-col-light: white;
  /* Commons */
  --col-black: #111;
  --col-white: #fff;
  --dark-gray: rgb(38, 38, 38);
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Others */
body {
  font-family: 'PT Sans', sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

/**********************************************************
  UTILITIES ----- UTILITIES ----- UTILITIES -----
**********************************************************/

/* LAYOUT & FLEX */
.container {
  max-width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.just-between {
  justify-content: space-between;
}

.just-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

/* TEXT */
.text-center {
  text-align: center;
}

.txt-white {
  color: var(--col-white);
}

/* BORDERS */
.bor-circle {
  border-radius: 50%;
}



/****************************************************
  SECTIONS ----- SECTIONS ----- SECTIONS -----
****************************************************/
#app {
  flex-grow: 1;
}

#sidebar {
  width: 250px;
  overflow: hidden;
  background-color: var(--col-black);
}

#music {
  overflow: auto;
  background-color: var(--dark-gray);
}


/*******************************************************
  RESPONSIVE ----- RESPONSIVE ----- RESPONSIVE -----
*******************************************************/



/*******************************************************
  DEBUG ----- DEBUG ----- DEBUG -----
*******************************************************/
div {
  border: 1px dashed red;
}

#logo-spotify {
  padding: 2.5rem;
}

#upgrade {
  padding: 2.5rem;
  background-color: rgb(80, 80, 80);
}

#play {
  padding: 3rem;
  background-color: rgb(114, 114, 114);
}

#play div {
  padding: 1rem;
}