:root {
  /* Palette */
  --primary-col: white;
  --primary-col-light: white;
  --secondary-col: white;
  --secondary-col-light: white;
  /* Commons */
  --col-black: #111;
  --col-white: #fff;
  --dark-gray: #333;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Others */
body {
  font-family: 'PT Sans', sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

/**********************************************************
  UTILITIES ----- UTILITIES ----- UTILITIES -----
**********************************************************/

/* LAYOUT & FLEX */
.container {
  max-width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.just-between {
  justify-content: space-between;
}

.just-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

/* TEXT */
.text-center {
  text-align: center;
}

.txt-white {
  color: var(--col-white);
}

/* BORDERS */
.bor-circle {
  border-radius: 50%;
}



/****************************************************
  SECTIONS ----- SECTIONS ----- SECTIONS -----
****************************************************/

/* SIDEBAR */
#site {
  height: 100%;
}

#sidebar {
  width: 250px;
  background-color: var(--col-black);
}

#content {
  flex-grow: 1;
  background-color: rgb(56, 64, 73);
}


/*******************************************************
  RESPONSIVE ----- RESPONSIVE ----- RESPONSIVE -----
*******************************************************/