:root {
  /* Palette */
  --primary-col: white;
  --primary-col-light: white;
  --secondary-col: white;
  --secondary-col-light: white;
  /* Commons */
  --col-black: rgb(0, 0, 0);
  --col-white: #fff;
  --col-gray: rgb(149, 149, 149);
  --dark-gray: rgb(38, 38, 38);
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Others */
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

svg {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/**********************************************************
  UTILITIES ----- UTILITIES ----- UTILITIES -----
**********************************************************/

/* LAYOUT */
.container {
  max-width: 100%;
  height: 100vh;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow {
  flex-grow: 1;
  overflow: hidden;
}

.flex-shrink-no {
  flex-shrink: 0;
}

.just-between {
  justify-content: space-between;
}

.just-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.gap-15 {
  gap: 15px;
}

.gap-20 {
  gap: 20px;
}

.overflow-auto {
  overflow: auto;
}

/* BACKGROUND */
.bg-gray {
  background-color: var(--col-gray);
}

/* TEXT */
.font-10 {
  font-size: 10px;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: 600;
}

.text-white {
  color: var(--col-white);
}

.text-black {
  color: var(--col-black);
}

.text-lightgray {
  color: lightgray;
}

.text-gray {
  color: var(--col-gray);
}

/* IMAGES */
.mini-logo-container {
  width: 20px;
  margin-right: 0.5rem;
}

.smaller-logo-container {
  width: 35px;
  padding: 3px 0;
  margin-right: 0.5em;
}

.small-logo-container {
  width: 45px;
  padding: 4px 6px;
  border: none;
  margin-right: 0.5em;
  background-color: var(--col-gray);
}

.small-album-container {
  width: 45px;
  height: 45px;
}

.playing-button-container {
  width: 20px;
  height: 20px;
  margin-right: 1.5rem;
}

.logo-img {
  vertical-align: middle;
  overflow: hidden;
}

/* OTHERS */
.hr {
  margin: 0.5rem 0;
  border-bottom: 1px solid var(--col-gray);
}

.album {
  width: calc((100% / 6) - 15px);
}

.thumbnail {
  overflow: hidden;
}

/* MARGIN */
div .margin-no {
  margin: 0;
}

.mar-x-small {
  margin: 0 1rem;
}

.mar-right-smaller {
  margin-right: 0.5rem;
}

.mar-right-small {
  margin-right: 1rem;
}

.mar-bot-smaller {
  margin-bottom: 0.5rem;
}

.mar-bot-small {
  margin-bottom: 1rem;
}

.mar-bot-med {
  margin-bottom: 1.5rem;
}

.mar-bot-large {
  margin-bottom: 2rem;
}

/* BORDERS */
.bor-pad-small {
  padding: 1rem 0.5rem 1rem;
}

.bor-pad {
  padding: 1rem;
}

.bor-pad-x {
  padding-left: 2rem;
  padding-right: 2rem;
}

.bor-circle {
  border-radius: 50%;
}

/* PADDING */
.pad-small {
  padding: 0.5rem;
}

.pad-med {
  padding: 1rem;
}

.pad-y-small {
  padding: 1rem 0;
}

.pad-bot-small {
  padding-bottom: 1rem;
}

/****************************************************
  SECTIONS ----- SECTIONS ----- SECTIONS -----
****************************************************/
#app {
  flex-grow: 1;
}

/* 
  SIDEBAR
*/
#sidebar {
  width: 250px;
  overflow: hidden;
  background-color: var(--col-black);
}

#sidebar ul {
  list-style: none;
}

#logo-spotify-container {
  height: 4rem;
  padding-right: 4rem;
  margin-bottom: 0.2em;
}

#logo-spotify-img {
  text-align: left;
}

#sidebar-menu {
  margin-bottom: 1.5rem;
}

#sidebar-menu a {
  padding: 0.2em 0;
}

#sidebar a {
  text-decoration: none;
}

#sidebar a:hover {
  background-color: rgba(75, 75, 75, 0.2);
  color: white;
}

#playlist-title {
  font-size: 16px;
  text-transform: uppercase;
  color: white;
}

#playlist a:hover .small-logo-container,
#playlist a:hover svg {
  background-color: var(--col-white);
}

#playlist-list li {
  margin-bottom: 1.5rem;
}

#install a:hover {
  background-color: rgba(75, 75, 75, 0);
  color: white;
}

#install a:hover .mini-logo-container {
  background-color: rgba(75, 75, 75, 0);
  color: white;
}

#user a:hover {
  background-color: rgba(75, 75, 75, 0);
  color: white;
}

#user-logo-container {
  width: 28px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: var(--col-gray);
}

.sidebar-menu-text {
  vertical-align: middle;
}

/* 
  HEADER
*/
#content {
  flex-grow: 1;
  overflow: hidden;
}

#upgrade-bar {
  height: 5rem;
  justify-content: end;
  align-items: center;
  background-color: rgb(26, 29, 33);
}

#upgrade-but {
  padding: 0.8em 2.5em;
  border: 2px solid white;
  border-radius: 25px;
  background-color: rgba(30, 32, 37, 0);
  text-transform: uppercase;
}

/* 
  ALBUMS
*/
#music {
  background-color: var(--dark-gray);
}

#filters {
  flex-wrap: wrap;
}

#filters a {
  display: block;
  padding: 1.5rem 1rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--col-gray);
}

#filters a:hover {
  background-color: rgba(75, 75, 75, 0);
  color: white;
}

/* 
  PLAY
*/
#play {
  background-color: rgb(32, 32, 32);
}

#nowplaying {
  flex-basis: 100%;
  max-width: 250px;
  height: 100%;
}

#change-playing {
  flex-basis: 100%;
  max-width: 500px;
}

#play-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border: 2px solid white;
  border-radius: 50%;
  margin: 0 2rem 0 1rem;
}

#play-img {
  transform: translateX(1px);
  width: 25px;
  height: 25px;
}

#time-bar {
  border-bottom: 5px solid rgb(62, 62, 62);
  border-radius: 10px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

#volume-bar {
  border-bottom: 5px solid rgb(62, 62, 62);
  border-radius: 10px;
}

#foot-right-bar {
  flex-basis: 100%;
  max-width: 250px;
}


/*******************************************************
  RESPONSIVE ----- RESPONSIVE ----- RESPONSIVE -----
*******************************************************/

@media screen and (max-width: 1100px) {
  .albums-4 {
    width: calc((100% / 4) - 15px);
  }
}

@media screen and (max-width: 700px) {
  .albums-2 {
    width: calc((100% / 2) - 15px);
  }
}

@media screen and (max-width: 600px) {
  .d-none-resp {
    display: none;
  }

  .width-none {
    max-width: 50px;
  }

  .bor-pad-mini {
    padding: 1rem 0.5rem;
    align-items: center;
  }

  .just-center-resp {
    justify-content: center;
  }

  .mar-no {
    margin: 0;
  }

  .mar-resp {
    margin: 0.25rem 0;
  }

  .d-block-resp {
    display: block;
  }

  .d-inline-resp {
    display: inline-block;
  }

  .flex-shrink {
    flex-shrink: 1;
  }
}


/*******************************************************
  DEBUG ----- DEBUG ----- DEBUG -----
*******************************************************/

