:root {
  /* Palette */
  --primary-col: white;
  --primary-col-light: white;
  --secondary-col: white;
  --secondary-col-light: white;
  /* Commons */
  --col-black: rgb(0, 0, 0);
  --col-white: #fff;
  --col-gray: rgb(149, 149, 149);
  --dark-gray: rgb(38, 38, 38);
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Others */
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

img {
  width: 100%;
  height: 100%;
}

svg {
  width: 100%;
  height: 100%;
}

/**********************************************************
  UTILITIES ----- UTILITIES ----- UTILITIES -----
**********************************************************/

/* LAYOUT */
.container {
  max-width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.d-block {
  display: block;
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink-no {
  flex-shrink: 0;
}

.just-between {
  justify-content: space-between;
}

.just-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

/* BACKGROUND */
.bg-gray {
  background-color: var(--col-gray);
}

/* TEXT */
.text-center {
  text-align: center;
}

.text-bold {
  font-weight: 600;
}

.text-white {
  color: var(--col-white);
}

.text-black {
  color: var(--col-black);
}

.text-lightgray {
  color: lightgray;
}

.text-gray {
  color: var(--col-gray);
}

/* MARGIN */
.mar-bot-smaller {
  margin-bottom: 0.5rem;
}

.mar-bot-small {
  margin-bottom: 1rem;
}

.mar-bot-med {
  margin-bottom: 1.5rem;
}

/* BORDERS */
.bor-pad-small {
  padding: 0.5rem 0.5rem 1rem;
}

.bor-pad {
  padding: 1rem;
}

.bor-circle {
  border-radius: 50%;
}

/* IMAGES */
.mini-logo-container {
  width: 10%;
  margin-right: 0.5rem;
}

.smaller-logo-container {
  width: 15%;
  padding: 3px 0;
  margin-right: 0.5em;
}

.small-logo-container {
  width: 20%;
  padding: 4px 6px;
  border: none;
  margin-right: 0.5em;
  background-color: var(--col-gray);
}

.small-album-container {
  height: 80%;
}

.logo-img {
  vertical-align: middle;
  overflow: hidden;
}

/* OTHERS */
.hr {
  margin: 0.5rem 0;
  border-bottom: 1px solid var(--col-gray);
}


/****************************************************
  SECTIONS ----- SECTIONS ----- SECTIONS -----
****************************************************/
#app {
  flex-grow: 1;
}

/* 
  SIDEBAR
*/
#sidebar {
  width: 250px;
  overflow: hidden;
  background-color: var(--col-black);
}

#sidebar ul {
  list-style: none;
}

#logo-spotify-container {
  height: 4rem;
  padding-right: 4rem;
  margin-bottom: 0.2em;
}

#logo-spotify-img {
  text-align: left;
}

#sidebar-menu {
  margin-bottom: 1.5rem;
}

#sidebar-menu a {
  padding: 0.2em 0;
}

#sidebar a {
  text-decoration: none;
}

#sidebar a:hover {
  background-color: rgba(75, 75, 75, 0.2);
  color: white;
}

#playlist-title {
  font-size: 16px;
  text-transform: uppercase;
  color: white;
}

#playlist a:hover .small-logo-container,
#playlist a:hover svg {
  background-color: var(--col-white);
}

#playlist-list li {
  margin-bottom: 1.5rem;
}

#install a:hover {
  background-color: rgba(75, 75, 75, 0);
  color: white;
}

#install a:hover .mini-logo-container {
  background-color: rgba(75, 75, 75, 0);
  color: white;
}

#user a:hover {
  background-color: rgba(75, 75, 75, 0);
  color: white;
}

#user-logo-container {
  width: 15%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: var(--col-gray);
}

.sidebar-menu-text {
  vertical-align: middle;
}

/* 
  HEADER
*/
#upgrade-bar {
  height: 5rem;
  justify-content: end;
  align-items: center;
  background-color: rgb(26, 29, 33);
}

#upgrade-but {
  padding: 0.8em 2.5em;
  border: 2px solid white;
  border-radius: 25px;
  background-color: rgba(30, 32, 37, 0);
  text-transform: uppercase;
}

/* 
  MUSIC
*/
#music {
  overflow: auto;
  background-color: var(--dark-gray);
}

/* 
  PLAY
*/
#play {
  height: 5rem;
  background-color: rgb(32, 32, 32);
}

#nowplaying {
  width: 300px;
  height: 100%;
}


/*******************************************************
  RESPONSIVE ----- RESPONSIVE ----- RESPONSIVE -----
*******************************************************/



/*******************************************************
  DEBUG ----- DEBUG ----- DEBUG -----
*******************************************************/

